@{
    ViewBag.Title = "Error";
}

<div class="container mt-4">
    <h2>Error</h2>
    <p class="text-danger">@ViewBag.ErrorMessage</p>


    <a href="@Url.Action("Index", "Meters")" class="btn btn-primary">Go Back</a>
</div>